html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button {
    margin: 15px;
}

#message-box {
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 10px;
   // background: none;
}

.message {
    width: 250px;
    height: 75px;
    background: #1B3D79;
    color: #fff;
    padding: 6px;
    //top: 5px;
    bottom: 5px;
    left: 5px;
    position: absolute;
    opacity: 1;
    //visibility: visible;
}
