@page
@*<div class="alert alert-success" role="alert">
        <div id="chatmessage"></div>
        <div id="chatusername"></div>
    </div>*@

    <div class="row">
        <div class="col-6">
            @*<ul id="messagesList"></ul>*@
        </div>
    </div>

    <div class="toast" id="myToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
        <div class="toast-header">
            <div id="chatusername"></div>
        </div>
        <div class="toast-body">
            <div id="chatmessage"></div>
        </div>
    </div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>